<form id="profileForm" class="form">
    <div class="input-group">
      <i class="fas fa-user input-icon"></i>
      <input type="text" placeholder="Username">
    </div>
    <button type="submit">Update</button>
  </form>
  