<form id="searchForm" class="form">
    <link rel="stylesheet" href="/css/search.css">
    <div class="input-group">
      <i class="fas fa-search input-icon"></i>
      <input type="text" id="searchInput" placeholder="Search users...">
    </div>
    <ul id="searchResults" class="search-results"></ul>
    <p id="searchEmpty" class="search-empty"></p>
    <script src="/js/search.js"></script>
  </form>
  