node_modules
./node_modules/*

package-lock.json

.env

logs
coverage
/coverage
/.vscode
# compiled output
/dist
/build


# Ignore LibreOffice / OpenOffice files
*.odt
*.ods
*.odp

# Ignore LibreOffice lock files
.~lock.*