@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body {
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-app {
  width: 90%;
  height: 90vh;
  background: #b6acc78a;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 340px;
  background: rgba(0, 0, 0, 0.159);
  padding: 20px;
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.chat-list {
  list-style: none;
}

.chat-list li {
  padding: 12px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.chat-list li.active,
.chat-list li:hover {
  background: rgba(57, 53, 64, 0.486);
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 12px 16px;
  border-radius: 16px;
  margin-bottom: 10px;
  color: #fff;
}

.message.me {
  width: 40%;
  background: #735aa9;
  color: #000;
  margin-left: auto;
}

.message.other {
  width: 40%;
  background: #fff;
  color: #000;
}

.chat-input {
  padding: 15px;
  height: 8.5%;
  display: flex;
  gap: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-input input {
  flex: 1;
  padding: 12px;
  border-radius: 14px;
  border: none;
  background: rgba(255, 255, 255, 0.655);
  color: #000;
}

.chat-input button {
  background: linear-gradient(135deg, #6b4f9f, #6445a8);
  border: none;
  padding: 0 18px;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
}