.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
    color: #2e1476;
    font-style: bold;
    opacity: 0.8;
    margin-top: 20px;
}

.footer img {
    width: 18px;
    height: auto;
}