@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body {
  height: 100vh;
  background: url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  width: 560px;
  padding: 40px 40px;
  background: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(14px);
  border-radius: 24px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.18);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.profile-container h2 {
  font-size: 26px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.avatar-wrapper img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.avatar-wrapper input[type="file"] {
  border: none;
  background: rgba(255,255,255,0.2);
  color: #000;
  padding: 8px 14px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  margin-bottom: 10px;
}

.avatar-wrapper input[type="file"]:hover {
  background: rgba(255,255,255,0.35);
}

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 16px 16px;
  border-radius: 14px;
  border: 1px solid #00000044;
  font-size: 16px;
  color: #000;
  background: rgba(255, 255, 255, 0.85);
  transition: border-color 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
  border-color: #6b4f9f;
  box-shadow: 0 0 10px rgba(154, 140, 191, 0.35);
  outline: none;
  background: rgba(255, 255, 255, 0.4);
}

textarea {
    width: 100%;
    min-height: 70px;
    resize: none;
}

button[type="submit"] {
  width: 60%;
  padding: 16px;
  margin-top: 12px;
  background: linear-gradient(135deg, #6b4f9f, #6445a8);
  border: none;
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(1, 3, 1, 0.1);
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
  background: linear-gradient(135deg, #6445a8, #6b4f9f);
  transform: translateY(-2px);
}

.update-message {
  text-align: center;
  /* margin-top: 5px; */
  margin-bottom: 10px;
  font-size: 15px;
  color: #ffdd57;
}
