@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');


* {
    font-family: 'Fredoka', sans-serif;
}


.open-search-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.open-search-wrapper input {
    width: 100%;
    padding: 10px 12px 10px 36px;
    border-radius: 12px;
    border: none;
    background: #f2f2f2;
    outline: none;
    cursor: pointer;
}

.open-search-wrapper i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}



.search-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.search-modal.show {
    display: flex;
}

.search-window {
    width: 360px;
    background: #fff;
    border-radius: 16px;
    padding: 14px;
    animation: pop .2s ease;
}

@keyframes pop {
    from {
        transform: scale(.9);
        opacity: 0
    }
}

.search-header {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search-input-wrapper {
    position: relative;
    flex: 1;
}

.search-input-wrapper i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-input-wrapper input {
    width: 100%;
    padding: 10px 12px 10px 36px;
    border-radius: 10px;
    border: none;
    background: #f2f2f2;
    outline: none;
}

#closeSearch {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.modal-search-results {
    list-style: none;
    margin-top: 12px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
}

.modal-search-results li {
    display: flex;
    color: #000;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}

.modal-search-results li:last-child {
    border-bottom: none;
}

.modal-search-results li:hover {
    background: #f1f1f1;
}

.modal-search-results img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.search-empty {
    margin-top: 8px;
    font-size: 13px;
    color: #999;
    text-align: center;
}