<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ChatRoom</title>
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  <footer class="footer">
    <img src="/images/chat-logo.png" alt="ChatRoom Logo">
    <span>ChatRoom</span>
  </footer>
</body>
</html>
